<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link href="admin.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  </head>
        <div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                   
                    <button type="button" class="btn btn-default btn-lg" style="padding: 60px 38px;font-size: 20px;border-radius: 10px;margin: 60px 10px 0px 0px;">Inspect Inventory</button> <br><br>
                    <button type="button" class="btn btn-default btn-lg" style="padding: 60px 50px;font-size: 20px;border-radius: 10px;margin: 0px 10px 0px 0px;">Manage Order</button> <br><br>
                    <button type="button" class="btn btn-default btn-lg" style="padding: 60px 45px;font-size: 20px;border-radius: 10px;margin: 0px 10px 0px 0px;">View Donations</button> <br><br>
					
                    
                </ul>
            </div>
<body>

<div class="container" >
  <h2 align="center">Inventory</h2><br>
  <table class="table" >
    <thead>
      <tr align="center" >
	    <th>Delete</th>
		<th>Edit</th>
        <th>Tax</th>
        <th>Cost</th>
        <th>Count Purshased</th>
		<th>Stock</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	    <td><button type="button" class="btn btn-primary">Primary</button></td>
		<td><button type="button" class="btn btn-primary">Primary</button></td>
        <td>john@example.com</td>
		<td>john@example.com</td>
		<td>john@example.com</td>
		<td>John</td>
        <td>Doe</td>
		
      </tr>
	   <tr>
	    <td><button type="button" class="btn btn-primary">Primary</button></td>
		<td><button type="button" class="btn btn-primary">Primary</button></td>
        <td>john@example.com</td>
		<td>john@example.com</td>
		<td>john@example.com</td>
		<td>John</td>
        <td>Doe</td>
		
      </tr>
      
     
    </tbody>
  </table>
</div>

</body>
</html>
